# {{ ansible_managed }}
{
{% if caddy_tls_mode == "internal" %}
    local_certs
    skip_install_trust
    pki {
        ca local
    }
{% else %}
    email {{ caddy_tls_email }}
{% endif %}
    admin off
}

import /etc/caddy/sites/*.caddy
