.clock {
  font-size: var(--text-2xl);
  font-weight: var(--fw-light);
  color: var(--text-emphasis);
  line-height: 1;
  letter-spacing: var(--ls-normal);
}

.date-box {
  border: var(--border);
  padding: var(--size-px-1) var(--size-px-2);
}

.date {
  font-size: var(--text-md);
  color: var(--text-primary);
  letter-spacing: var(--ls-tight);
}
