.env-block {
  padding: var(--size-px-2) var(--size-px-3);
  display: flex;
  flex-direction: row;
  gap: var(--size-px-5);
  border-right: var(--env-border-w) solid var(--border-subtle);
  border-left: var(--env-border-w) solid var(--border-subtle);
  background-color: var(--border-subtle-low);
  width: var(--env-block-w);
}

.info-col {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.info-label {
  font-size: var(--text-xs);
  color: var(--text-muted);
  text-transform: uppercase;
  letter-spacing: var(--ls-tight);
}

.info-value {
  font-size: var(--text-base);
  color: var(--text-emphasis);
  letter-spacing: var(--ls-tight);
  white-space: nowrap;
}
