# {{ ansible_managed }}
# Teleport node configuration
{% set _base_config = {} %}
{% set _teleport_section = {
  'nodename': teleport_node_name,
  'data_dir': '/var/lib/teleport',
  'auth_token': teleport_join_token,
  'auth_server': teleport_auth_server,
  'log': {'output': 'stderr', 'severity': 'INFO'}
} %}
{% set _base_config = _base_config | combine({'version': 'v3', 'teleport': _teleport_section}) %}
{% set _ssh = {'enabled': teleport_ssh_enabled | bool} %}
{% if teleport_labels %}
{% set _ssh = _ssh | combine({'labels': teleport_labels}) %}
{% endif %}
{% set _base_config = _base_config | combine({
  'ssh_service': _ssh,
  'proxy_service': {'enabled': teleport_proxy_mode | bool},
  'auth_service': {'enabled': false}
}) %}
{% if teleport_session_recording != 'off' %}
{% set _sr = {'mode': teleport_session_recording} %}
{% if teleport_enhanced_recording %}
{% set _sr = _sr | combine({'enhanced_recording': {'enabled': true}}) %}
{% endif %}
{% set _base_config = _base_config | combine({'session_recording': _sr}) %}
{% endif %}
{% set _final = _base_config | combine(teleport_config_overwrite, recursive=True) %}
{{ _final | to_nice_yaml(indent=2) }}
