# Managed by Ansible — role: power_management
[Login]
HandleLidSwitch={{ power_management_lid_switch_action }}
HandleLidSwitchExternalPower={{ power_management_lid_switch_ac_action }}
HandleLidSwitchDocked={{ power_management_lid_switch_docked_action }}
HandlePowerKey={{ power_management_power_key_action }}
HandleSuspendKey={{ power_management_suspend_key_action }}
HandleHibernateKey={{ power_management_hibernate_key_action }}
IdleAction={{ power_management_idle_action }}
IdleActionSec={{ power_management_idle_action_sec }}
