# Managed by Ansible — role: power_management
[Sleep]
SuspendMode={{ power_management_suspend_mode }}
HibernateMode={{ power_management_hibernate_mode }}
HybridSleepMode={{ power_management_hybrid_sleep_mode }}
{% if power_management_suspend_state %}
SuspendState={{ power_management_suspend_state }}
{% endif %}
{% if power_management_hibernate_delay_sec %}
HibernateDelaySec={{ power_management_hibernate_delay_sec }}
{% endif %}
