# {{ ansible_managed }}
KEYMAP={{ keymap_console }}
{% if keymap_console_font | default('') %}
FONT={{ keymap_console_font }}
{% endif %}
{% if keymap_console_font_map | default('') %}
FONT_MAP={{ keymap_console_font_map }}
{% endif %}
{% if keymap_console_font_unimap | default('') %}
FONT_UNIMAP={{ keymap_console_font_unimap }}
{% endif %}
