[defaults]
roles_path = roles:playbooks/roles:~/.ansible/roles:/usr/share/ansible/roles
inventory = inventory/hosts.ini
retry_files_enabled = False
# host_key_checking отключена для localhost. При добавлении удалённых хостов
# рекомендуется включить или использовать known_hosts.
host_key_checking = False
localhost_warning = False
vault_password_file = vault-pass.sh
inventory_ignore_extensions = .pyc, .pyo, .swp, .bak, ~, .rpm, .md, .txt, .orig, .ini~

[inventory]
enable_plugins = ini, host_list, auto
